<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <pre>
      <code>
        function hello() {

        }

        hello(lol);

        var triple = function (x) {
    return x + x + x;
};

alert(triple("ho"));    // alerts hohoho
alert(triple(100));
      </code>
    </pre>
  </body>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
      var matches = $('pre').text();//.match(/\w+(\(\)|\(\w+\))/g);
      console.log(matches);
      // for(var i = 0; i < matches.length; i++) {
      //   console.log(matches[i]);
      // }
  </script>
</html>
